{
   "extends": ["airbnb-base", "prettier"],
   "rules": {
      "no-console": "warn",
      "no-unused-expressions": [
         "error",
         {
            "allowShortCircuit": true
         }
      ]
   }
}
